@page
@model _3312_Final_Project.Pages.JobFairs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CareerEvent[0].EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CareerEvent[0].EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CareerEvent[0].EventLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CareerEvent[0].EventDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].StudentRegistrations)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CareerEvent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDescription)
            </td>
            <td>

            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CareerEventID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CareerEventID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CareerEventID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
